<!DOCTYPE>

<html>

	<head>
		<link rel="stylesheet" href="/assets/css/knacss-unminified.css">
		<link rel="stylesheet" href="/assets/css/index.css">
	</head>
	<body>
		<main id="main-success" class="container center-b bspace-6" >
			<section class="autogrid section-title">
				<div class="txtcenter">
					<h1><%= title %></h1><br>
					<p><%= info_forgot %> <%= password %></p>
				</div>
			</section>
		</main> 
	</body>

</html>