<!DOCTYPE>

<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/admin.css">
	</head>

	<body>

		<script>
			window.isToken=<%= !locals.erreur %>;
			window.trans= <%- lang.replace(/=&gt;/g, '=>') %>  ; 
		</script>

		<div id="app"></div>
		
		<script src="/assets/js/admin.js"></script>

	</body>

</html>