<!DOCTYPE>

<html>

	<head>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/index.css">
	</head>

	<body>
		
		<!-- Il y a des erreurs -->		
		<% if( locals.erreur ) { %>

			<div style="text-align: center;">
				<h1><%= locals.lang.title %></h1><br>
			</div>

			<main class="container center-b bspace-6">

				<div class="alert alert--danger" role="alert">
				  	<%= locals.erreur %>
				</div>

			</main>
		<% } %>

		<!-- Tout est OK il ny a pas d'erreur -->
		<% if( !locals.erreur ) { %>
		<div id="app"></div>
		<script src="/assets/js/index.js"></script>
		<% } %>
	</body>

</html>